<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pupapp</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.insynchro.pup.web.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>com.insynchro.pup.web.controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportXlsToP6Controller</display-name>
    <servlet-name>ImportXlsToP6Controller</servlet-name>
    <servlet-class>com.insynchro.pup.web.controller.ImportXlsToP6Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportXlsToP6Controller</servlet-name>
    <url-pattern>/ImportXlsToP6Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.insynchro.pup.web.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.insynchro.pup.web.controller.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  
  <session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
	<context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
</web-app>